<h1>About Us</h1>

<div><h3> Here at Jungle, we follow a simple philosophy: Customer First. 
Because of this, our entire site has been constructed with you, the user, in mind. From the ground up, 
we have fabricated the definition of "Great User Experience", designing a shopping platform that is 
easy to use, secure and, most importantly, always put your needs first. </h3></div>
<div>
<br>
<h2>Life's a Jungle out there, let us do the hard work for you.</h1>
</div>
